*{
    margin: 0; padding: 0; list-style: none;
}
.wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../img/bg1.png) center no-repeat;
}
 .container_main{
    width: 432px;
    height: 409px;
    position: absolute;
    left: 20%;
    top: 30%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: flex;
}
.login1{
    width: 432px;
    height: 409px;
    background-color: rgba(0, 0, 0, 0);
}

.bg_fff{
    display: flex;
    justify-content: center;
}
/*
.main_input{
    font-size: 14px;
    color: #333;
}
.main_input li{
    margin-bottom: 16px;
}
.main_input li label{
    vertical-align: middle;
}
.main_input--inline{
    background: #ffffff;
    display: inline-block;
    width: 338px;
    height: 44px;
    line-height: 44px;
    border:1px solid #dfdfdf;
    border-radius: 3px;
    font-size: 0;
    vertical-align: middle
}
.main_input--inline.cur{
    border-color: #60b6ff
}
.main_input--inline input{
    border: none;
    height: 38px;
    line-height: 38px;
    background: none;
    font-size: 14px;
    display: inline-block;
    width: 158px;
    vertical-align: middle;
    outline: none;
}
.icon-user,.icon-password{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../images/user.png) no-repeat;
    margin:0 15px 0 10px;
    vertical-align: middle
}
.icon-password{
    background: url(../images/password.png) no-repeat;
}
.main_input--inline.cur .icon-user{
    background: url(../images/user_cur.png)
}
.main_input--inline.cur .icon-password{
    background: url(../images/password_cur.png)
}
.main_btn{
   display: block;
   height: 46px;
   width: 338px;
   font-size: 18px;
   text-align: center;
   line-height: 46px;
   color: #fefefe;
   text-decoration: none;
   cursor: pointer;
   border-radius: 3px;
   background-color: #2c7be5;
   border: none;
   margin-top: 30px;
}
.main_footer{
    font-size: 12px;
    color: #333;
    text-align: left;
}
.main_footer input{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 6px;
}
.container_footer{
    position: absolute;
    bottom: 28px;
    width: 100%;
    text-align: center;
    color: #acb2b8;
    font-size: 12px;
}
.errorMsg{
    position: absolute;
    top: 24px;
    left: 86px;
    font-size: 14px;
    color: #f00;
} */

/* #msg { padding: 20px; margin-bottom: 10px; }
#msg h2 { font-size: 1.4em; margin-bottom: 1em; }
#msg.errors { border: 1px dotted #BB0000; color: #BB0000; padding-left: 100px; background: url(../images/error.gif) no-repeat 20px center; }
#msg.success { border: 1px dotted #390; color: #390; padding-left: 100px; background: url(../images/confirm.gif) no-repeat 20px center; }
#msg.info { border: 1px dotted #008; color: #008; padding-left: 100px; background: url(../images/info.gif) no-repeat 20px center; }
#msg.question { border: 1px dotted #390; color: #390; padding-left: 100px; background: url(../images/question.png) no-repeat 20px center; }
#msg.warn { border: 1px dotted #960; color: #960; padding-left: 100px; background: #ffbc8f url(../images/info.gif) no-repeat 20px center; }
#msg.warn .message { color: black; margin: 1em; font-size: 1.4em } */
/* 
#login { width: 320px; float: left; margin-right: 20px; }
#fm1 { padding: 20px; background: #eee; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
#fm1 h2 { font-size: 1.4em; font-weight: normal; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #DDDDDD; }
#fm1 .row { margin-bottom: 10px; }
#fm1 .row label { display: block; color: #777777; }
#fm1 .row input[type=text],
#fm1 .row input[type=password] { padding: 6px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #DDDDDD; background: #FFFFDD; }
#fm1 .row.check { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #DDDDDD; color: #777; font-size: 11px; }
#fm1 .row.check label { display: inline; }
#fm1 .row .btn-submit { border-width: 2px; padding: 3px; margin-right: 4px; }
#fm1 .row .btn-reset { border: 0; background: none; color: #777; text-transform: lowercase; border-left: 1px solid #ddd; }
#fm1 .row .btn-submit:hover,
#fm1 .row .btn-reset:hover { cursor: pointer; }

#sidebar { width: auto; }
#sidebar .sidebar-content { padding-left: 20px; }
#sidebar .sidebar-content p { margin-bottom: 1.4em; }

#list-languages ul { list-style: none; }
#list-languages ul li { display: inline-block; padding: 0px 10px; border-right: 1px solid #e2e2e2; }
#list-languages ul li:last-child { border: 0; line-height: 1.4em; }

footer { color: #999; margin: 20px 0; }

@media only screen and (max-width: 960px) { 
  footer { padding-left: 10px; }
}

@media only screen and (max-width: 799px) { 
  header h1 { font-size: 1em; }
  #login { float: none; width: 100%; }
  #fm1 .row input[type=text], 
  #fm1 .row input[type=password] { width: 100%; padding: 10px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
  #fm1 .row .btn-submit { outline: none; -webkit-appearance: none; -webkit-border-radius: 0; border: 0; background: #210F7A; color: white; font-weight: bold; width: 100%; padding: 10px 20px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
  #fm1 .row .btn-reset { display: none; }
  #sidebar { margin-top: 20px; }
  #sidebar .sidebar-content { padding: 0; }
} */